[core]
	editor = "vim"
[user]
	name = Jakub Dudarewicz
	email = jdudarewicz@fastlogic.pl
tool
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE